<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>
        welcome ,{{user.username}}

    </h1>
    {% for feature in features %}
        <h1>My name is {{feature.name}}</h1>
   
        <p> My details is {{feature.details}}</p>

    
  {% endfor %}
   <a href="logout">Logout</a>
    {% else %}

   <h1>Login please.....</h1>
   <a href="/login">Click here</a>
   {% endif%}  
</body>
</html>